/node_modules
node_modules/
/public/hot
/public/storage
public/storage
public/hot
/storage/*.key
storage/*.key
/vendor
/vendor/
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
bootstrap/compiled.php
app/storage/
public_html/storage
public_html/hot
/.vagrant